div,input,textarea{
    box-sizing: border-box;
}
.background_color{
    background-color: black;
    padding: 30px;
}
.container{
    width: 80%;
    height: 450px;
    background-color: white;
    margin: 10px;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}
.email h4{
    margin-bottom: 3px;
}
.email input{
    width: 100%;
    padding: 5px;
}
.name h4{
    margin-bottom: 3px;
}
.name input {
    width: 100%;
    padding: 5px;
}
.name{
    width: 100%;
    display: inline-block;
}
.first_name{
    width: 45%;
    float: left;
}
.last_name{
    width: 45%;
    float: right;
}
.message h4{
    clear: both;
    margin-bottom: 3px;
    margin-top: 15px;
}
.message textarea{
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 3px;
    border: 1px solid gray;
}
.footer{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
/* .footer p{
    margin: 0px;
    float: left;
} */
.footer button{
    float: right;
    background-color: rgb(241, 216, 73);
    color: white;
    padding:5px 30px;
    border-radius: 3px;
    border: 1px solid gray;

}
input[type=text],input[type=email]{
    border-radius: 3px;
    border: 1px solid gray;
} 













